@import "_variables";

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 1280px){
  body>*:not(footer){
    padding: 0 140px;
  }
  .nav{
    div{
      display: flex;
      width: 230px;
    }
  }
}

@media (min-width:1024px) and (max-width: 1280px){
  body>*:not(footer){
    padding: 0 50px;
  }
  .nav{
    div{
      display: flex;
      width: 210px;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  height: 150px;
  top: 0;
  left:0;
  right: 0;
  background-color: white;
  z-index: 4;
  .nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: $navFontSize;
    text-transform: uppercase;
    letter-spacing: .1em;
    div:first-child{
      justify-content: space-between;
      align-items: center;
      span{
        cursor: pointer;
        &:hover{
          opacity: .6;
        }
      }
    }
    div:last-child{
      justify-content: flex-end;
      align-items: center;
      span{
        cursor: pointer;
      }
      span:first-child{
        padding-right: 20px;
      }
      span:last-child{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.3em;
        p{
          padding-left: 10px;
          font-size: $navFontSize;
        }
      }
    }
    .navIcon{
      display: none;
    }
  }
  img{
    cursor: pointer;
    width: 8em;
  }

} 

@keyframes showSection {
  0%{
  }
  100%{
    opacity: 1;
  }
}

main{
  display: flex;
  flex-direction: column;
  height: fit-content;
  .section{
    margin-bottom: 80px;
    opacity: 0;
    animation: showSection 1s ease-in-out both;
  }
  .section:nth-child(1){
    position: relative;
    img{
      width: 100%;
    }
    div{
      width: 100%;
      height: fit-content;
      color: white;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 150px;
      p:first-child{
        font-size: .6em;
        font-weight: 600;
        letter-spacing: .1em;
        margin-bottom: 40px;
      }
      p:nth-child(2){
        text-align: center;
        width: 500px;
        font-size: 2.5em;
        font-family: $mainFont;
        em{
          font-style: italic;
        }
      }
      span {
        color: white;
        font-size: .6em;
        padding: 20px 80px;
        font-weight: 500;
        letter-spacing: .2em;
        margin-top: 40px;
        border: 1px solid white;
        cursor: pointer;
        transition: .2s ease-in-out;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }
  .section:nth-child(2){
    display: flex;
    height: 552px;
    &>div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width:50%;
      height: 100%;
    }
    .secondST{
      width: 50%;
      background-color: $mainColor;
      padding: 160px 0;
      div{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 80px;
        p:nth-child(1){
          text-transform: uppercase;
          font-size: .6em;
          letter-spacing: .2em;
        }
        p:nth-child(2){
          text-align: center;
          padding: 0 2%;
          font-family: $mainFont;
          font-size: 1.7em;
          opacity: .9;
          margin-top: 20px;
          margin-bottom: 40px;
          em{
            font-style: italic;
          }
        }
        span{
          cursor: pointer;
          opacity: .9;
          font-size: .6em;
          text-transform: uppercase;
          letter-spacing: .2em;
          border: 1.5px solid black;
          padding: 20px 60px;
          transition: .3s ease-in-out;
          &:hover{
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
  .section:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mcdTitle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      &>p:nth-child(1){
        font-size: .6em;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: .2em;
      }
      &>p:nth-child(2){
        font-size: 1.8em;
        font-family: $mainFont;
      }
    }
    .mcdContainer{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .mcd{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: .1em;
        &:hover{
          img:nth-child(1){
            opacity: 0;
            display: none;
          }
          img:nth-child(2){
            display: block;
          }
        }
        img{
          width: 100%;
          cursor: pointer;
        }
        img:nth-child(2){
          display: none;
        }
        &>div{
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .mcdInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &>div{
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: .6em;
              text-transform: uppercase;
              margin-bottom: 10px;
              &>p{
                padding: 0 10px;
              }
              &>.new{
                color: #cfa102;
                border-left: 1px solid rgba(0, 0, 0, 0.3);
              }
            }
            &>p:nth-child(2){
              font-family: $mainFont;
              font-size: 1.4em;
              font-style: italic;
            }
            &>p:nth-child(3){
              padding: 30px 0;
              opacity: .7;
              font-size: .7em;
            }
          }
          span{
            margin-top: 10px;
            text-transform: uppercase;
            font-size: .7em;
            padding: 20px 70px;
            border: 1px solid black;
            cursor: pointer;
            transition: .2s ease-in-out;
            &:hover{
              color: white;
              background-color: black;
            }
          }
        }
      }
    }
    }
    
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $mainColor;
  height: 265px;
  padding: 0 80px;
  margin-top: 80px;
  .footer{
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 33%;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2em;
    .footerTitle{
      opacity: .6;
      margin-bottom: 10px;
    }
    div{
      display: flex;
      flex-direction: column;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      span{
        cursor: pointer;
      }
    }
  }
  >div:nth-child(2){
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

.shortcut{
  display: inline-block;
  padding: 2px;
  position: fixed;
  top: auto;
  bottom: 13px;
  left: 13px;
  right: auto;
  background-color: rgb(253, 227, 216);
  border-radius: 50%;
  cursor: pointer;
  img{
    width: 40px;
  }
  @keyframes shorcutSize {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }
  &:hover{
    animation: shorcutSize .3s ease-in-out both;
  }
}

@media (max-width: 1023px){
  header{
    height: 50px;
    .nav{
      img{
        width: 4em;
      }
      div:first-child{
        display: none;
      }
      .navIcon{
        display: flex;
        padding-left: 15px;
      }
      div:last-child>span:first-child{
        visibility: hidden;
      }
      div:last-child>span:last-child{
        flex-direction: row-reverse;
      }
    }
  }

  main{
    .section:first-child{
      div{
        p:nth-child(2){
          font-size: 1.5em;
        }
      }
    }
    .section:nth-child(2){
      display: flex;
      flex-direction: column;
      height: fit-content;
      img{
        width: 100%;
        height: 100%;
      }
      .secondST{
        width: 100%;
        padding: 30px 0;
        div{
          p:nth-child(2){
            font-size: 1.4em;
          }
        }
      }
    }

  }
}